.cart-container {
  width: 100%;
  max-width: 1280px;
  margin: 2rem auto;
  padding: 2rem;
  color: #333;
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
}

.cart-container h2 {
  color: #0c4a36;
  margin-top: 0;
}

.cart-empty {
  text-align: center;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-content {
  display: flex;
  gap: 2rem;
}

.cart-items-list {
  flex: 2; /* Ocupa 2/3 do espaço */
}
.cart-summary {
  flex: 1; /* Ocupa 1/3 do espaço */
  background-color: #f4f4f4;
  padding: 1.5rem;
  border-radius: 8px;
}

/* Estilos da lista */
.cart-item-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  font-weight: bold;
  color: #555;
  border-bottom: 2px solid #eee;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.cart-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 1rem 0;
}

.cart-item-details {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cart-item-details img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}
.item-name {
  font-weight: bold;
  margin: 0;
}
.remove-btn {
  background: none;
  border: none;
  color: #cc0000;
  cursor: pointer;
  padding: 0;
  font-size: 0.9rem;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.cart-item-quantity button {
  border: 1px solid #ccc;
  background: #fff;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.cart-item-total {
  font-weight: bold;
  font-size: 1.1rem;
}

/* Estilos do Resumo */
.cupom-input {
  display: flex;
  margin: 0.5rem 0 1rem 0;
}
.cupom-input input {
  flex: 1;
  border: 1px solid #ccc;
  padding: 0.5rem;
}
.cupom-input button {
  border: none;
  background: #e9a131;
  color: #333;
  padding: 0 1rem;
  font-weight: bold;
  cursor: pointer;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.total-row {
  font-weight: bold;
  font-size: 1.2rem;
  border-top: 1px solid #ccc;
  padding-top: 1rem;
}
.checkout-btn {
  display: block;
  width: 100%;
  background-color: #0c4a36;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.1rem;
}